Name: Akinde Kadjo

![png](books_ERD_pic.png)

In [7]:
# imports
import pandas as pd
from urllib.parse import quote  
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy_utils import create_database, database_exists

In [14]:
# connection
engine = create_engine('mysql+pymysql://root:%s@localhost:3306/Books' % quote('pwd'))
                                                                   
# Check if the database exists. If not, create it.
if database_exists('mysql+pymysql://root:%s@localhost:3306/Books' % quote('pwd')) == False:
  create_database('mysql+pymysql://root:%s@localhost:3306/Books' % quote('pwd'))
else:
  print('The database already exists')

The database already exists

In [5]:
#Converting our files into Dataframes 
authors_df = pd.read_csv('authors.csv')
books_df = pd.read_csv('books.csv')
favorites_df = pd.read_csv('favorites.csv')
users_df = pd.read_csv('users.csv')

In [15]:
#converting the dataframes to sql tables
authors_df.to_sql('authors', engine, if_exists = 'replace')
books_df.to_sql('books', engine, if_exists = 'replace')
favorites_df.to_sql('favorites', engine, if_exists = 'replace')
users_df.to_sql('users', engine, if_exists = 'replace')

3

In [16]:
q = """SHOW TABLES;"""
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

In [17]:
q="""
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));
"""
pd.read_sql(q, engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1